body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
.input-hero-section{
    height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
#imagePreview{
    border-radius: 50px 50px 0px 0px;
    background-color: #f8f8f8;
    position: relative;
    z-index: 1;
}

#imagePreview .preview-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0px;
  }


  #imagePreview .preview-container .preview-img {
    height: 400px;
    width: 100%;
    background: #ebebeb;
    margin: 10px;
    max-width: 400px;
    padding: 10px;
    border-radius: 22px;
  }
  #imagePreview .preview-container .preview-img img {
    width: 100%;
    max-height: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: top;
    -o-object-position: top;
    -o-object-fit: cover;
  }